.parent{
    color:white;
   
}

.bluePage{
    background-image: linear-gradient(to left , rgba(44, 44, 255, 0.479) ,rgba(84, 84, 255, 0.359) );
    border-radius: 15px;
    min-height: 65vh;
    margin-bottom: 60px;
    position: relative;
}
.bluePage h4{
    text-align: start;
}
.rightParent{
    margin-right: 30px;
    margin-top: 10px;
}
.imgFluid img{
    width: 35px;
    height: 35px;
}
.textParent{
    margin-right: 5px;
}
.section {
    color:black;
    background-color: #fff;
    border-radius: 10px;
    height: 10vh;
    margin:7px;

}
.get{
    font-size: 13px;
    color:gray;
}
.nameApp{
    font-weight: bold;
}
.leftParent img{
    position: absolute;
    left:10%;
    top: -30px;
    height: 120%;

}

@media only screen and ( max-width:992px){
    .bluePage{
     display: none;
    }
 } 
    



